<header ng-show="!isLogin" role="banner" class="navbar navbar-fixed-top navbar-inverse header-banner">
    <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container"
                    type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>


        </div>
        <div class="navbar-inverse side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="navbar-items"><a href="#/menu">menu</a></li>
                    <li class="navbar-items"><a href="#/ol">øl</a></li>
                    <li class="navbar-items"><a href="#/vin">vin</a></li>
                </ul>
                <a class="navbar-brand navbar-right"  href="#/menu">
                    <img src="img/BaReShop.png" style="max-width:150px; margin-top: -17px;">
                </a>
            </nav>
        </div>
    </div>
</header>
>